<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Erreur : {{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset('build/error.css') }}">
</head>
<body>
<div class="text-wrapper">
    <div class="title" data-content="404">
        404
    </div>

    <div class="subtitle">
        Oops, la page que vous cherchez n'existe pas.
    </div>

    <div class="buttons">
        <a class="button" href="/">Retour à la page d'accueil</a>
    </div>
</div>

</body>
</html>