/.web-server-pid
/app/config/parameters.yml
*/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

/composer.lock
/package-lock.json
**.idea/
/node_modules/


web/images/lot/e59205543d121f9d8841adf9f9190dc3b21d244a\.JPG
web/build/

\.idea/

\.DS_Store
