
<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Links -->
    <div class="container text-center text-md-left ">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-2 mt-2">
                <br>
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Caldex</h6>
                <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p>Site Réalisé par l'équipe de Caldex</p>


            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2 mt-2">
                <br>
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/profile_user" class="linkFooter">Votre compte</a>
                </p>
                <p>
                    <a href="#!" class="linkFooter">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 ">
                <!-- Links -->
                <br>
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> 52 AV DU REPOS - MULHOUSE </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> caldex67@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> 03 88 81 99 99</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


</footer>
<!-- Footer -->
