{% extends "admin/base_admin.html.twig" %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/main_admin.css') }}">
    {% endblock %}

    {% block body %}
        <nav class="navbar navbar-default" id="SyndicParc">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/immeuble/">Consultation Immeuble</a>
                    <a class="navbar-brand" href="/lot/">Consultation Lot</a>
                    <a class="navbar-brand" href="/piece/">Consultation Pièce</a>
                </div>
            </div>
        </nav>

        <h5 class="hello">Bonjour {{ app.user.firstname }} {{ app.user.lastname }} </h5>

        <div class="container">
            <div class="row" style="display: flex;">

                <div class="col card">
                    <h2>Inscription</h2>
                    <li><a href="/register">Enregister un nouveau membre</a></li>

                </div>

                <div class="col card">
                    <h2>Membres</h2>
                    <li><a href="{{ path('syndic_index') }}">Liste des membres</a></li>
                </div>

                <div class="col card">
                    <h2>Gestion</h2>
                    <li>Gestion des droits </li>
                    <li>Gestion des relevés compteurs</li>
                </div>



            </div>
        </div>




{% endblock %}